{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>

</style>

<body>
    {% if request.user.is_authenticated %}
        <nav class="nav">
            <div class="menu_container">
                <div class="logo">SSAFY</div>
                <a href="{% url "movies:index" %}" class="index">INDEX</a>
                <a href="{% url "movies:create" %}" class="create">CREATE</a>
                <a href="{% url "accounts:update" %}" class="user_update">회원 정보 수정</a>
                <a href="{% url 'change_password' user.pk%}" class="change_pwd">비밀번호 변경</a>
                <form action="{% url "accounts:logout" %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="로그아웃" class="logout">
                </form>
            </div>
        </nav>

    {% else %}
        <nav class="nav">
            <div class="menu_container_notlogin">
                <div class="logo">SSAFY</div>
                <a href="{% url "movies:index" %}" class="index">INDEX</a>
                <a href="{% url "accounts:signup" %}" class="signup">회원 가입</a>
                <form action="{% url "accounts:logout" %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="로그인" class="login">
                </form>
            </div>
        </nav>

    {% endif %}


    {% block content %}
    {% endblock content %}
</body>
</html>